body {
    margin: 0em;
    background: black;
    font-size: 1.1em;
}

div {
    color: white;
}

h1 {
    color: white;
}

td {
    color: white;
    font-size: 1.1em;
}

.simplified {
    font-size: 2.5em;
}

.chinese {
    width: 20em;
    font-size: 1.1em;
}
