{% block header %}
{% endblock %}

<html>
  <body>
    {% if user.is_authenticated %}
    <div>
      You are logged in as <a href="{% url 'index' %}">{{ user.username }}</a>. <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% else %}
    <div>
      <a href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>
