{% extends 'chinese/base.html' %}

{% block header %}
{% load staticfiles %}
<title>{{ deck.title }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'chinese/style.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'chinese/deck.js' %}"></script>
{% endblock %}

{% block content %}
<h1>
  {{ deck.title }}
</h1>
<div>
  {% if resume_word %}
  <a href="#{{ resume_word.id }}">resume {{ resume_word.token }}</a>
  {% endif %}
</div>
<table border="1">
  {% for word in words %}
  <tr id="{{ word.id }}" name="{{ word.id }}">
    <td><button id="{{ word.id }}" class="confirm_button">✓</button></td>
    <!-- <td><button id="{{ word.id }}" class="sleep_button">记</button></td> -->
    <td class="simplified">{{ word.simplified }}</td>
    <td>{{ word.pinyin_with_breaks }}</td>
    <td>
      {% autoescape off %}
      {{ word.definition_with_breaks }}
      {% endautoescape %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
