{% extends 'chinese/base.html' %}

{% block header %}
{% load staticfiles %}
<title>{{ deck.title }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'chinese/style.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'chinese/deck.js' %}"></script>
{% endblock %}

{% block content %}
<h1>
  {{ deck.title }} trends
</h1>
<div>
  <table>
    <tr>
      <td>
      </td>
      <td>
        Unique
      </td>
      <td>
        Repeat
      </td>
    </tr>
    <tr>
      <td>
        Total
      </td>
      <td>
        {{ unique_total }}
      </td>
      <td>
        {{ repeat_total }}
      </td>
    </tr>
    <tr>
      <td>
        Remaining
      </td>
      <td>
        {{ unknown_unique_words }}
      </td>
      <td>
        {{ unknown_repeat_words }}
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
      </td>
      <td>
        Average per day
      </td>
      <td>
        Unique total
      </td>
      <td>
        Repeat total
      </td>
    </tr>
    <tr>
      <td>
        Last 1 day
      </td>
      <td>
        {{ average_last_day }}
      </td>
      <td>
        {{ unique_words_last_day }}
      </td>
      <td>
        {{ repeat_words_last_day }}
      </td>
    </tr>
    <tr>
      <td>
        Last 2 days
      </td>
      <td>
        {{ average_last_2_days }}
      </td>
      <td>
        {{ unique_words_last_2_days }}
      </td>
      <td>
        {{ repeat_words_last_2_days }}
      </td>
    </tr>
    <tr>
      <td>
        Last 7 days
      </td>
      <td>
        {{ average_last_7_days }}
      </td>
      <td>
        {{ unique_words_last_7_days }}
      </td>
      <td>
        {{ repeat_words_last_7_days }}
      </td>
    </tr>
    <tr>
      <td>
        Last 30 days
      </td>
      <td>
        {{ average_last_30_days }}
      </td>
      <td>
        {{ unique_words_last_30_days }}
      </td>
      <td>
        {{ repeat_words_last_30_days }}
      </td>
    </tr>
  </table>
</div>
{% endblock %}
