<html>
  <p>
    Please login. Please?
  </p>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <div>
      <input type="submit" value="OK">
    </div>
  </form>
</html>
