{% extends 'chinese/base.html' %}

{% block header %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'chinese/style.css' %}" +/>
{% endblock %}

{% block content %}
<div>
  Here are your decks.
  <table>
  {% for deck_user in deck_users %}
    {% if not deck_user.completed %}
      <tr>
        <td>
          <a href="{% url 'deck' deck_id=deck_user.deck.id %}" >{{ deck_user.deck.title }}</a>
        </td>
        <td>
          {{ deck_user.num_known_unique_words }} / {{ deck_user.deck.num_unique_words }}
        </td>
        <td>
          {{ deck_user.percent_string }} % 
        </td>
        <td>
          <a href="{% url 'deck_trends' deck_id=deck_user.deck.id %}" >trends</a>
        </td>
    {% endif %}
  {% endfor %}
  </table>
</div>
{% endblock %}
