{% extends 'chinese/base.html' %}

{% block content %}
  <p>
    Please enter a corpus from which to generate a deck list.
  </p>
  <form action="{% url 'deck_create' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <div>
      <input type="submit" value="OK">
    </div>
  </form>
{% endblock %}
